header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-repeat: no-repeat;
    background-position: 20px 50%;
}

.main_logo {
    padding-left: 20px;
    padding-top: 5px;
}
