.places_title {
    font-size: 30px;
    padding-left: 20px;
    padding-top: 40px;
}
article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}
article h2 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}
.flex_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
}
